# Telegram
TELEGRAM_TOKEN=tu_token_aqui

# PocketBase
POCKETBASE_URL=http://192.168.0.102:8090
POCKETBASE_ADMIN_EMAIL=admin@bttpi.local
POCKETBASE_ADMIN_PASSWORD=tu_contraseña_aqui

# Stockfish
STOCKFISH_PATH=/usr/games/stockfish